streamlit
numpy
librosa
matplotlib
tensorflow
soundfile
sounddevice
tempfile
os
noisereduce as nr
glob 
scipy.signal as sig
torch 
torch import nn 
pandas as pd 
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
